@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat-Bold.woff2") format("woff2"), url("./../fonts/Montserrat-Bold.woff") format("woff"), url("./../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat-Light.woff2") format("woff2"), url("./../fonts/Montserrat-Light.woff") format("woff"), url("./../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./../fonts/Montserrat-Thin.woff2") format("woff2"), url("./../fonts/Montserrat-Thin.woff") format("woff"), url("./../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding: 16px 0 14px 0;
  background: #4cb1ca;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__controls ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__controls-item {
  margin-right: 25px;
  position: relative;
}

.nav__controls-item:last-child {
  margin-right: 35;
}

.nav__controls-item::after {
  content: '';
  width: 1px;
  height: 17px;
  top: 50%;
  left: calc(-30px / 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background: #bff2ff;
}

.nav__controls-item::before {
  content: '';
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #bff2ff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity, width 0.4s ease;
  transition: opacity, width 0.4s ease;
}

.nav__controls-item a {
  color: #fff;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.nav__controls-item:hover::before {
  content: '';
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  visibility: visible;
  opacity: 1;
  position: absolute;
  background: #bff2ff;
}

.nav__select {
  width: 20px;
  height: 20px;
  position: relative;
}

.nav__select::after {
  width: 2px;
  height: 2px;
  content: '';
  border-top: 14px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__select-2 {
  width: 20px;
  height: 20px;
  position: relative;
}

.nav__select-2::after {
  width: 2px;
  height: 2px;
  content: '';
  border-top: 14px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__select-label {
  color: #bef2ff;
}

.nav__select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.select {
  margin-right: 15px;
  display: block;
  color: #fff;
  line-height: 1.5;
  padding: 0 3px;
  padding-top: 2px;
  max-width: 72px;
  background: none;
  border: none;
  outline: none;
  -moz-appearance: none;
}

.select:last-child {
  margin-right: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
  width: 100%;
}

.text__aside-form {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 15px;
  width: 200px;
  height: 400px;
  background-color: darksalmon;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__aside-form-title {
  margin-bottom: 20px;
}

.text__aside_form-login {
  width: 100%;
}

.text__aside_form-login > input {
  width: 100%;
  height: 30px;
}

.text__content {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

.content_item fas fa-address-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-air-freshener:hover {
  color: gold;
}

.header {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #656565;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header__wrapper--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 36px;
}

.header__logo-text__link {
  color: #656565;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-list__item {
  margin-left: 23px;
}

.header__menu-list__item:first-child {
  margin-left: 0;
}

.header__menu-list__item a {
  color: #656565;
}

.header__menu-list__item__link {
  text-decoration: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons__icon {
  width: 35px;
  height: 35px;
}

.header__buttons__icon-i {
  font-size: 18px;
  color: #fff;
}

.header__buttons--left {
  margin-left: 15px;
}

.header__buttons--right {
  margin-left: 5px;
  margin-right: 15px;
}

.header__search {
  position: relative;
}

.header__search-form__input {
  max-width: 175px;
  height: 30px;
  position: relative;
  padding: 0 10px;
}

.header__search-form__input-search {
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider {
  background: url("../img/slide-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 475px;
  position: relative;
}

.slider__text {
  font-family: "Open Sans";
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 236px;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: 3s show_text;
          animation: 3s show_text;
}

.slider__text span {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-right: 15px;
}

.slider__text--upper {
  font-size: 30px;
  font-weight: 300;
  max-width: 286px;
  margin-bottom: 4px;
}

.slider__text--bottom {
  font-size: 28px;
  font-weight: 700;
  max-width: 330px;
}

.slider__button-arrow {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.slider__button-arrow i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: grey;
}

.slider__button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 120px;
}

.slider__button-next {
  position: absolute;
  right: 120px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes show_text {
  from {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
}

@keyframes show_text {
  from {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
}

.products {
  font-family: "Open Sans";
  font-weight: 400;
}

.products__content {
  max-width: 760px;
  padding: 25px 0;
}

.products__content:first-child {
  padding-top: 50px;
}

.products__catalog {
  margin-top: 20px;
}

.products__catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  color: #635f57;
  text-transform: uppercase;
  line-height: 1.2;
}

.products__list__item {
  width: calc((100% / 3) - 28px);
  width: 220px;
  height: 27.579vw;
  max-height: 300px;
  min-height: 150px;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin: 14px;
  cursor: pointer;
  position: relative;
}

.products__list__item:first-child {
  margin-left: 0;
}

.products__list__item:nth-child(3n+4) {
  margin-left: 0;
}

.products__list__item:nth-child(3n+3) {
  margin-right: 0;
}

.products__list__item__img {
  width: 100%;
  height: 230px;
  background-color: #eff1f0;
  position: relative;
}

.products__list__item__img-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products__list__item__description {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__list__item__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-left: 3px;
}

.products__list__item__description__text-title {
  font-size: 14px;
}

.products__list__item__description__text-price {
  font-size: 18px;
  padding-top: 10px;
  color: #7db122;
}

.products__list__item__description__text-price-sale {
  font-size: 14px;
  color: #000;
  text-decoration: line-through;
}

.products__list__item__description-cart-btn {
  padding-top: 15px;
}

.products__list__item__description-cart-btn__icon {
  width: 45px;
  height: 45px;
}

.products__list__item__description-cart-btn__icon-i {
  font-size: 20px;
}

.label-new::after {
  content: url(../img/new-label.png);
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}

.label-sale::after {
  content: url(../img/sale-label.png);
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 2;
}

.banner {
  width: 25%;
  height: 800px;
  background-color: indigo;
  position: absolute;
  right: 0;
  top: 50px;
}

.buble-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 20px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.2)), color-stop(40%, rgba(255, 255, 255, 0.5)), to(#ffffff));
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 2;
}

.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-160px);
          transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}

.ball.bubble {
  background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite;
}

.ball.bubble:before {
  -webkit-filter: blur(0);
          filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
          transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}

.ball.bubble:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}

.bubble-stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
            transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
            transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
            transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
            transform: scaleY(1.02) scaleX(0.98);
  }
  97%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
            transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
            transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
            transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
            transform: scaleY(1.02) scaleX(0.98);
  }
  97%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 3px;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  width: 100%;
  height: 800px;
}

.icon {
  border-radius: 50%;
  cursor: pointer;
  background-color: #7db122;
  position: relative;
}

.icon-i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */