@import "_fonts";
@import "_nav";
@import "_reset";
@import "_text";
@import "_header";
@import "_slider";
@import "_vars";
@import "_products";
@import "_banner";
@import "_buble";

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 3px;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  width: 100%;
  height: 800px;
}

.icon {
  border-radius: 50%;
  cursor: pointer;
  background-color: $green;
  position: relative;

  &-i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
  }
}